.content-wrapper {
	
	transition: margin 0.35s;

	@include breakpoint($tablet-pt-min) {
		margin-left: 155px;
	}

	@include breakpoint($desktop-min) {
		margin-left: 200px;
	}
}

.content {
	padding: 20px;
	@include container(100%);
}