@font-face {
	font-family: 'fpp-icon';
	src:url('../fonts/FPP-icon.eot?-u69vo5');
	src:url('../fonts/FPP-icon.eot?#iefix-u69vo5') format('embedded-opentype'),
		url('../fonts/FPP-icon.woff?-u69vo5') format('woff'),
		url('../fonts/FPP-icon.ttf?-u69vo5') format('truetype'),
		url('../fonts/FPP-icon.svg?-u69vo5#FPP-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'falcon';
	src:url('../fonts/falcon.eot?-kisv41');
	src:url('../fonts/falcon.eot?#iefix-kisv41') format('embedded-opentype'),
		url('../fonts/falcon.woff?-kisv41') format('woff'),
		url('../fonts/falcon.ttf?-kisv41') format('truetype'),
		url('../fonts/falcon.svg?-kisv41#falcon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fp {
	font-family: 'falcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fp-number:before {
	content: "\e655";
}

.fp-number2:before {
	content: "\e656";
}

.fp-number3:before {
	content: "\e657";
}

.fp-number4:before {
	content: "\e658";
}

.fp-number5:before {
	content: "\e659";
}

.fp-number6:before {
	content: "\e65a";
}

.fp-number7:before {
	content: "\e65b";
}

.fp-number8:before {
	content: "\e65c";
}

.fp-number9:before {
	content: "\e65d";
}

.fp-number10:before {
	content: "\e65e";
}

.fp-number11:before {
	content: "\e65f";
}

.fp-number12:before {
	content: "\e660";
}

.fp-number13:before {
	content: "\e661";
}

.fp-number14:before {
	content: "\e662";
}

.fp-number15:before {
	content: "\e663";
}

.fp-number16:before {
	content: "\e664";
}

.fp-number17:before {
	content: "\e665";
}

.fp-number18:before {
	content: "\e666";
}

.fp-number19:before {
	content: "\e667";
}

.fp-number20:before {
	content: "\e668";
}

.fp-quote:before {
	content: "\e669";
}

.fp-quote2:before {
	content: "\e66a";
}

.fp-cabinet:before {
	content: "\e66b";
}

.fp-calendar:before {
	content: "\e66c";
}

.fp-calendar2:before {
	content: "\e66d";
}

.fp-file:before {
	content: "\e66e";
}

.fp-camera:before {
	content: "\e66f";
}

.fp-film:before {
	content: "\e670";
}

.fp-notice:before {
	content: "\e671";
}

.fp-cogs:before {
	content: "\e672";
}

.fp-watch:before {
	content: "\e673";
}

.fp-chronometer:before {
	content: "\e674";
}

.fp-headphones:before {
	content: "\e675";
}

.fp-sitemap:before {
	content: "\e676";
}

.fp-sitemap2:before {
	content: "\e677";
}

.fp-upload:before {
	content: "\e678";
}

.fp-zoomin:before {
	content: "\e679";
}

.fp-zoomout:before {
	content: "\e67a";
}

.fp-lamp:before {
	content: "\e67b";
}

.fp-lamp2:before {
	content: "\e67c";
}

.fp-lamp3:before {
	content: "\e67d";
}

.fp-cube:before {
	content: "\e67e";
}

.fp-box:before {
	content: "\e67f";
}

.fp-box2:before {
	content: "\e680";
}

.fp-ruler:before {
	content: "\e681";
}

.fp-screwdriver:before {
	content: "\e682";
}

.fp-equalizer:before {
	content: "\e683";
}

.fp-pencil:before {
	content: "\e684";
}

.fp-music:before {
	content: "\e685";
}

.fp-info:before {
	content: "\e686";
}

.fp-piano:before {
	content: "\e687";
}

.fp-rain:before {
	content: "\e688";
}

.fp-snow:before {
	content: "\e689";
}

.fp-lightning:before {
	content: "\e68a";
}

.fp-sun:before {
	content: "\e68b";
}

.fp-moon:before {
	content: "\e68c";
}

.fp-cloudy:before {
	content: "\e68d";
}

.fp-cloudy2:before {
	content: "\e68e";
}

.fp-stop:before {
	content: "\e68f";
}

.fp-globe:before {
	content: "\e690";
}

.fp-globe2:before {
	content: "\e691";
}

.fp-zip:before {
	content: "\e692";
}

.fp-zip2:before {
	content: "\e693";
}

.fp-usb:before {
	content: "\e694";
}

.fp-clipboard:before {
	content: "\e695";
}

.fp-clipboard2:before {
	content: "\e696";
}

.fp-clipboard3:before {
	content: "\e697";
}

.fp-switch:before {
	content: "\e698";
}

.fp-ruler2:before {
	content: "\e699";
}

.fp-fpp-bridge .path1:before {
	content: "\e69a";
	color: rgb(120, 139, 148);
}
.fp-fpp-bridge .path2:before {
	content: "\e69b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.fp-fpp-master .path1:before {
	content: "\e69c";
	color: rgb(120, 139, 148);
}
.fp-fpp-master .path2:before {
	content: "\e69d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.fp-fpp-remote .path1:before {
	content: "\e69e";
	color: rgb(120, 139, 148);
}
.fp-fpp-remote .path2:before {
	content: "\e69f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.fp-fpp-standalone .path1:before {
	content: "\e6a0";
	color: rgb(120, 139, 148);
}
.fp-fpp-standalone .path2:before {
	content: "\e6a1";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}



.pg {
	font-family: 'fpp-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="pg-"], [class*=" pg-"] {
	font-family: 'fpp-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pg-signals:before {
	content: "\e61c";
}
.pg-crop:before {
	content: "\e657";
}
.pg-folder_alt:before {
	content: "\e658";
}
.pg-folder:before {
	content: "\e659";
}
.pg-theme:before {
	content: "\e65a";
}
.pg-battery_empty:before {
	content: "\e65b";
}
.pg-battery:before {
	content: "\e65c";
}
.pg-note:before {
	content: "\e65d";
}
.pg-server_hard:before {
	content: "\e65e";
}
.pg-servers:before {
	content: "\e65f";
}
.pg-menu_justify:before {
	content: "\e660";
}
.pg-credit_card:before {
	content: "\e60f";
}
.pg-fullscreen_restore:before {
	content: "\e633";
}
.pg-fullscreen:before {
	content: "\e634";
}
.pg-minus:before {
	content: "\e635";
}
.pg-minus_circle:before {
	content: "\e63a";
}
.pg-plus_circle:before {
	content: "\e656";
}
.pg-refresh_new:before {
	content: "\e600";
}
.pg-close_line:before {
	content: "\e601";
}
.pg-close:before {
	content: "\e60a";
}
.pg-arrow_down:before {
	content: "\e60b";
}
.pg-arrow_left_line_alt:before {
	content: "\e628";
}
.pg-arrow_left:before {
	content: "\e629";
}
.pg-arrow_lright_line_alt:before {
	content: "\e62a";
}
.pg-arrow_maximize_line:before {
	content: "\e62b";
}
.pg-arrow_maximize:before {
	content: "\e62c";
}
.pg-arrow_minimize_line:before {
	content: "\e62f";
}
.pg-arrow_minimize:before {
	content: "\e630";
}
.pg-arrow_right:before {
	content: "\e631";
}
.pg-arrow_up:before {
	content: "\e632";
}
.pg-more:before {
	content: "\e655";
}
.pg-bag:before {
	content: "\e602";
}
.pg-bag1:before {
	content: "\e603";
}
.pg-bold:before {
	content: "\e604";
}
.pg-calender:before {
	content: "\e605";
}
.pg-camera:before {
	content: "\e606";
}
.pg-centeralign:before {
	content: "\e607";
}
.pg-charts:before {
	content: "\e608";
}
.pg-clock:before {
	content: "\e609";
}
.pg-comment:before {
	content: "\e60c";
}
.pg-contact_book:before {
	content: "\e60d";
}
.pg-credit_card_line:before {
	content: "\e60e";
}
.pg-cupboard:before {
	content: "\e610";
}
.pg-desktop:before {
	content: "\e611";
}
.pg-download:before {
	content: "\e612";
}
.pg-eraser:before {
	content: "\e613";
}
.pg-extra:before {
	content: "\e614";
}
.pg-form:before {
	content: "\e615";
}
.pg-grid:before {
	content: "\e616";
}
.pg-home:before {
	content: "\e617";
}
.pg-image:before {
	content: "\e618";
}
.pg-inbox:before {
	content: "\e619";
}
.pg-indent:before {
	content: "\e61a";
}
.pg-italic:before {
	content: "\e61b";
}
.pg-laptop:before {
	content: "\e61d";
}
.pg-layouts:before {
	content: "\e61e";
}
.pg-layouts2:before {
	content: "\e61f";
}
.pg-layouts3:before {
	content: "\e620";
}
.pg-layouts4:before {
	content: "\e621";
}
.pg-leftalign:before {
	content: "\e622";
}
.pg-like:before {
	content: "\e623";
}
.pg-like1:before {
	content: "\e624";
}
.pg-lock:before {
	content: "\e625";
}
.pg-mail:before {
	content: "\e626";
}
.pg-map:before {
	content: "\e627";
}
.pg-menu_lv:before {
	content: "\e62d";
}
.pg-menu:before {
	content: "\e62e";
}
.pg-movie:before {
	content: "\e636";
}
.pg-ordered_list:before {
	content: "\e637";
}
.pg-outdent:before {
	content: "\e638";
}
.pg-phone:before {
	content: "\e639";
}
.pg-plus:before {
	content: "\e63b";
}
.pg-power:before {
	content: "\e63c";
}
.pg-printer:before {
	content: "\e63d";
}
.pg-refresh:before {
	content: "\e63e";
}
.pg-resize:before {
	content: "\e63f";
}
.pg-right_align:before {
	content: "\e640";
}
.pg-save:before {
	content: "\e641";
}
.pg-search:before {
	content: "\e642";
}
.pg-sent:before {
	content: "\e643";
}
.pg-settings_small_1:before {
	content: "\e644";
}
.pg-settings_small:before {
	content: "\e645";
}
.pg-settings:before {
	content: "\e646";
}
.pg-shopping_cart:before {
	content: "\e647";
}
.pg-social:before {
	content: "\e648";
}
.pg-spam:before {
	content: "\e649";
}
.pg-suitcase:before {
	content: "\e64a";
}
.pg-tables:before {
	content: "\e64b";
}
.pg-tablet:before {
	content: "\e64c";
}
.pg-telephone:before {
	content: "\e64d";
}
.pg-text_style:before {
	content: "\e64e";
}
.pg-trash_line:before {
	content: "\e64f";
}
.pg-trash:before {
	content: "\e650";
}
.pg-ui:before {
	content: "\e651";
}
.pg-underline:before {
	content: "\e652";
}
.pg-unordered_list:before {
	content: "\e653";
}
.pg-video:before {
	content: "\e654";
}
