 .nav {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 3px 0;

      &.active {
      	font-weight: bold;
      }

      a {
        padding: 0;
        &:hover,
        &:focus {
          background: none;
        }
      }
    }

  }

  .mobile-header {
    
    background: $sidebar-bg-color;
    position: relative;
    padding: 5px;
    height: 55px;

    .toggle-panel {
      font-size: 35px;
      color: white;
      padding: 5px;
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      line-height: 1;
    }

    .mobile-logo {
      margin: 0 auto;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      padding: 5px 0;

       img {
        display: block;
        height: 100%;
        width: auto;
        margin: 0 auto;
       }
    }

    @include breakpoint($tablet-pt-min) {
      display: none;
    }
  }