.widget {
	
	&-header {
		display: block;
		text-transform: uppercase;
		padding: 8px 5px 5px;

	}
	&-icon {
		display: block;
	}
	&-text {
		display: block;
		padding: 5px 5px 8px;
	}

	&.text-center {
		text-align: center;
	}
}