
.dashboard {
	
	@include with-layout(4 .10) {
		
		.panel {
			
			@include breakpoint($desk-sm) {
				&.fppd-status {
					@include span(5 of 10);
				}

				&.player-status {
					@include span(5 of 10 last);
					min-height: 202px;
				}

				&.playlist-info {
					@include span(5 of 10);
				}
			}

			@include breakpoint($desktop-min) {
				&.fppd-status {
					@include span(4 of 10);
				}

				&.player-status {
					@include span(6 of 10 last);
				}

				&.playlist-info {
					@include span(4 of 10);
				}
			}
		}

	}

	.fppd-status {
		.panel-body {
			@include container(100%);
			padding: 0;
		}
		.widget {
			color: $heading-color;
			letter-spacing: 1px;
			text-transform: uppercase;
			@include span(2);
		
			&:first-child {
				border-right: 1px solid $secondary-color;
			}

			&-header {
				font-size: 12px;
								
			}
			&-icon {
				font-size: 34px;
				img {
					width: 31px;
				}
			}

			&-buttons {
				border-top: 1px solid $secondary-color;
				background: lighten($secondary-color, 5%);
				padding: 10px;
				.button {
					display: inline-block;
					vertical-align: middle;
					margin: 0 1%;
					text-transform: uppercase;
					letter-spacing: 1px;
					@include gradient-button();
					i { margin-right: 3px; }
					&:focus {
						outline: none;
					}
				}
				select {
					width: 60%;
					display: inline-block;
					padding: .25rem;
					margin-bottom: 0;
					background-color: transparent;
					border-color: darken($secondary-color, 15%);
					border-radius: 2px;
					color: #888;
					font-size: 13px;

				}
			}
			
		}

		.mode-icon {

			background: #788B94;
			color: white;
			padding: 3px 10px;
			border-radius: 35px;
			font-size: 20px;
			vertical-align: top;
			line-height: 35px;

		}
	}

	.player-status {
		.panel-body {
			@include container(100%);
			padding: 10px;
		}

		.player-row {
			clear: both;
			margin-bottom: 10px;
		}

		.player-header {
			display: flex;
			justify-content: space-between;
			flex-flow: row-wrap;
			align-items: center;

			.label {
				text-transform: uppercase;
				color: darken($secondary-color,25%);
				font-size: 13px;
				letter-spacing: 1px;
				background: none;
			}
			.status {
				flex: 1 auto;
			}
			> .playlist {
				flex:3 0px;		
				display: flex;
				flex-flow: row-wrap;
				justify-content: flex-end;		
				align-items: center;
				.label {
					flex: 0 auto;
					padding: 0 5px 0 0;
				}
				.playlist-select {
					flex: 3 0px;
					
					.playlist,
					.button {
						display: inline-block;
					}
					.playlist {
						padding: .25rem;
						border-radius: 2px;
						border-color: #c4c4c4;
						font-size: 13px;
						width: 85%;
						margin: 0;
					}
					.button {
						vertical-align: middle;
						margin:0;
					}
				}
			}
		}

		.player-buttons {

			.button {
				border-radius: 25px;
			}
			
			.volume {
				.icon {
					font-size: 22px;
					vertical-align: middle;
					color: $primary-color;
				}
			}
			.volume-input {
				height: 5px;
				display: inline-block;
				width: 90%;
				&::-webkit-slider-thumb {
					width: 15px;
					height: 15px;
					border-radius: 10px;
				}
				&::-moz-range-thumb {
					width: 15px;
					height: 15px;
					border-radius: 10px;
				}
				&::-ms-thumb-thumb {
					width: 15px;
					height: 15px;
					border-radius: 10px;
				}
			}
		}
	}
}