
.file-tab {
	.info {
		text-align: center;
		padding: 10px 20px 0;
		color: $primary-color;
	}
}

.file-list {
	//background: #f1f1f1;

	.table tbody tr td {
		background: transparent;
	}
}

.files {
	.dropzone {
		min-height: 250px;
		padding: 25px;
		border: 1px dashed $secondary-color;
		border-radius: 2px;
	}
}