
.file-tabs {
	.tab-content {
		padding-top: 0;
	}
}
.file-tab {
	.info {
		text-align: center;
		padding: 20px 20px 0;
		color: $primary-color;
		border-top: 1px solid $secondary-color;
	}
}

.file-list {
	//background: #f1f1f1;
	margin-bottom: 15px;
	.table tbody tr td {
		background: transparent;
	}
}

.files {
	.dropzone {
		min-height: 250px;
		padding: 25px;
		border: 1px dashed $secondary-color;
		border-radius: 2px;
	}
}