.content-wrapper.settings {
	
	background: #fafafa;
	position: relative;
	min-height: calc(100vh - 40px);
	
	.page-content {
		margin-left: 0;
		padding: 20px 30px;
		transition: margin 0.35s;
		&.network {
			margin-left: 0;
		}
		
		@include breakpoint($tablet-pt-min) {
			margin-left: $sidebar-width;
		}
		@include breakpoint($desktop-min) {
			margin-left: $sidebar-width-desktop;
		}
	}
	.page-title {
		padding: 0 0 40px;
		h2 {
			margin: 0;
			font-weight: 300;
		}
	}

	.field {
		margin-bottom:15px;

		&.inline {
			label {
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px 0 0;
			}

			input {
				display: inline-block;
				vertical-align: bottom;
			}

			
		}
		
		&.columns {
			@include container(100%);

			.left {
				@include span(2 of 3);
			}
			.right {
				text-align: right;
				@include span(1 of 3);
			}

			&.half {
				.left,.right {
					text-align: left;
					@include span(1 of 2);
				}
				.left {
					padding-right: 10px;
				}
				.right {

					padding-left: 10px;
				}
			}
		}

	}
	.form-actions {
		text-align: right;
		padding: 20px 0;
		.button {
			margin-right: 0;
		}
	}

	.settings-section {
		padding-bottom: 20px;
		h3 {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 15px;
			font-weight: 600;
			color: #666;
			margin-bottom: 15px;
		}
	}
	@include with-layout(4 .1) {
		@include breakpoint($desktop-min) {
			.main {
				@include container(100%);
			}

			.settings-section {
				@include span(2);

				&.dns-settings {
					@include span(2 last);
				}
			}
		}
	}

}

.settings-sidebar {
		
		position: absolute;
		top: 0;
		left: 0;
		bottom:0;
		width: $sidebar-width;
		padding: 20px;
		background: $settings-sb-bg;	
		border-right: 1px solid darken($settings-sb-bg, 5%);
		transition: width 0.35s;
		h2 {
			margin: 0 0 15px;
			//text-align: center;
			font-weight: 300;

		}	

		@include breakpoint($desktop-min) {
			width: $sidebar-width-desktop;
		}

	}


